---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bret Gomes | Full Stack Developer">
  <main class="bg-darkBackground h-screen">
    <header class="fixed top-0 w-full bg-darkBackground shadow-md z-50 gap-1">
      <nav>
        <ol class="items-center mx-auto px-4 flex justify-end gap-5 py-3">
          <a
            href="/"
            class="text-darkPrimaryText hover:text-darkHighlight mr-auto"
            >Bret.</a
          >
          <a href="#about" class="text-darkPrimaryText hover:text-darkHighlight"
            >About</a
          >
          <a
            href="#experience"
            class="text-darkPrimaryText hover:text-darkHighlight">Experience</a
          >
          <a
            href="#projects"
            class="text-darkPrimaryText hover:text-darkHighlight">Projects</a
          >
          <a
            href="#contact"
            class="text-darkPrimaryText hover:text-darkHighlight">Contact</a
          >
          <a
            href="#cv"
            class="text-darkAccent hover:text-darkHighlight hover:border-darkHighlight border-2 border-solid border-darkAccent p-2 rounded"
            >CV</a
          >
        </ol>
      </nav>
    </header>
    <div class="pt-[80px] pl-1">
      <h1 class="text-darkAccent">Hello, my name is</h1>
      <h2 class="text-darkPrimaryText">Bret Gomes</h2>
      <h3 class="text-darkSecondaryText">Junior Full Stack Developer</h3>
      <p class="text-darkSecondaryText">
        I'm a junior full stack developer. My focus is on developing
        user-centric web applications with an emphasis on mobile responsiveness.
        Driven by a passion for solving practical problems through code, I aim
        to create solutions that enhance everyday life. I'm currently seeking a
        collaborative team environment where innovative ideas and a dedication
        to quality are deeply valued.
      </p>
    </div>
  </main>
</Layout>
