---
import Layout from "../layouts/Layout.astro";
import { Nav } from "../components/Nav.tsx";
import { ContactForm } from "../components/ContactForm";
import { Introduction } from "../components/Introduction";
import { About } from "../components/About";
import { ProjectCard } from "../components/project/ProjectCard";
import { Footer } from "../components/Footer";
import { HeaderText } from "src/components/HeaderText";
---

<script>
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (
          entry.isIntersecting &&
          entry.target.classList.contains("fade-effect-header")
        ) {
          entry.target.classList.add("fade-in-header");
        }

        if (
          entry.isIntersecting &&
          !entry.target.classList.contains("fade-effect-header")
        ) {
          entry.target.classList.add("fade-in");
        }
      });
    },
    { threshold: 0.5 }
  );

  const elementsToAnimate = document.querySelectorAll(
    ".fade-effect, .fade-effect-header"
  );
  elementsToAnimate.forEach((element) => {
    observer.observe(element);
  });
</script>

<Layout title="Bret Gomes | Junior Full Stack Developer">
  <header
    class="px-10 lg:px-14 h-fit lg:h-20 fixed top-0 w-full bg-darkBackground shadow-md z-50 gap-1 justify-end flex items-center"
  >
    <Nav client:load />
  </header>
  <!-- <div class="left-20 right-auto fixed w-10 z-40 text-red-500 opacity-0">
    ADDED FOR TESTING
  </div> -->

  <main
    id="mainContent"
    class="px-12 md:px-[100px] lg:px-[200px] mx-auto my-0 w-full max-w-screen-2xl min-h-screen"
  >
    <Introduction />
    <About />
    <section id="projects" class="flex flex-col items-center pt-20">
      <HeaderText text="Projects" />
      <!-- Project 1 -->
      <ProjectCard
        title="ReelTalk Social Movie App"
        description="Full stack social media app for movie lovers. Users can view the latest movies, receive recommendations based on their preferences, post reviews, comment on others' reviews, and like reviews. Built with Next.js, TailwindCSS, PostgreSQL, and Prisma; hosted on Vercel with the database hosted on Supabase."
        side="right"
        img="ReelTalk.webp"
        github="https://github.com/RGBlife/ReelTalk"
        demo="https://reel-talk-nu.vercel.app/"
      />
      <!-- Project 2 -->
      <ProjectCard
        title="Article Hub"
        description="Full stack news app that allows users to view the latest community-posted news and filter by categories. Frontend built with React, TailwindCSS, hosted on Netlify, and the News API. The backend, built with Node.js/Express and PostgreSQL using the MVC design pattern and hosted on Render."
        img="article_hub.webp"
        github="https://github.com/RGBlife/news-api-ui"
        demo="https://articlehub-ui.netlify.app/"
      />
      <!-- Project 3 -->
      <ProjectCard
        title="Bubbly"
        description="Built with Socket.io, Vanilla JavaScript, and Vanilla CSS, Bubbly is a real-time chat app that allows users to chat with each other, created to learn more about WebSockets."
        side="right"
        img="bubbly.webp"
        github="https://github.com/RGBlife/Bubbly"
      >
        <!-- Bubbly doesn't have a Demo link as it still needs deployment -->
      </ProjectCard>
    </section>
    <section id="see-more">
      <!-- This section will be interactive to see more projects beyond the featured projects ive shown previously
     -->
    </section>

    <section
      id="contact"
      class="flex flex-col justify-center items-center min-h-[90vh] p-0 relative"
    >
      <ContactForm client:load />
    </section>
    <Footer />
  </main>
</Layout>
