---
import Layout from "../layouts/Layout.astro";
import { Nav } from "../components/Nav.tsx";
import { SquareTag } from "../components/SquareTag";
import { ContactForm } from "../components/ContactForm";
import { Introduction } from "../components/Introduction";
import { About } from "../components/About";
import { ProjectButtons } from "../components/ProjectButtons";
import { ProjectCard } from "../components/project/ProjectCard";
import {Footer} from "../components/Footer";
---

<Layout title="Bret Gomes | Junior Full Stack Developer">
  <header
    class="px-10 h-fit fixed top-0 w-full bg-darkBackground shadow-md z-50 gap-1 justify-end flex items-center"
  >
    <Nav client:load />
  </header>
  <div class="left-20 right-auto fixed w-10 z-40 text-red-500 opacity-0">
    ADDED FOR TESTING
  </div>

  <main
    id="mainContent"
    class="px-[50px] md:px-[100px] lg:px-[200px] mx-auto my-0 w-full max-w-screen-2xl min-h-screen"
  >
    <Introduction />
    <About />
    <section id="projects" class="pt-20">
      <div class="flex left-0" id="projects">
        <SquareTag text="Projects" />
      </div>
      <!-- Project 1 -->
      <ProjectCard
        title="ReelTalk Social Movie App"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec quam tempus, laoreet urna et, condimentum urna."
        side="right"
        img="/ReelTalk.png"
      >
        <ProjectButtons />
      </ProjectCard>
      <!-- Project 2 -->
      <ProjectCard
        title="Article Hub"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec quam tempus, laoreet urna et, condimentum urna."
        img="/article_hub.png"
      >
        <ProjectButtons />
      </ProjectCard>
      <!-- Project 3 -->
      <ProjectCard
        title="Bubbly"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec quam tempus, laoreet urna et, condimentum urna."
        side="right"
        img="/bubbly.png"
      >
        <ProjectButtons />
      </ProjectCard>
    </section>

    <section
      id="contact"
      class="flex flex-col justify-center items-center min-h-[90vh] p-0 relative"
    >
      <ContactForm client:load />
    </section>
    <Footer />
  </main>
</Layout>
