---
import Layout from "../layouts/Layout.astro";
import MenuToggle from "../components/MenuToggle.tsx";
---

<Layout title="Bret Gomes | Full Stack Developer">
  <main class="bg-darkBackground h-fit">
    <header
      class="px-10 h-fit fixed top-0 w-full bg-darkBackground shadow-md z-50 gap-1 justify-end flex items-center"
    >
      <a
        href="/"
        class="text-darkPrimaryText hover:text-darkHighlight mr-auto text-lg font-semibold"
        >Bret.</a
      >
      <nav class="w-fit">
        <ol
          class="hidden md:flex items-center mx-auto px-4 justify-end gap-5 py-3"
        >
          <a href="#about" class="text-darkPrimaryText hover:text-darkHighlight"
            >About</a
          >
          <a
            href="#experience"
            class="text-darkPrimaryText hover:text-darkHighlight">Experience</a
          >
          <a
            href="#projects"
            class="text-darkPrimaryText hover:text-darkHighlight">Projects</a
          >
          <a
            href="#contact"
            class="text-darkPrimaryText hover:text-darkHighlight">Contact</a
          >
          <a
            href="#cv"
            class="text-darkAccent hover:text-darkHighlight hover:border-darkHighlight border-2 border-solid border-darkAccent px-4 py-1 rounded"
            >CV</a
          >
        </ol>
        <MenuToggle client:load>
          <a
            href="#about"
            class="block text-darkPrimaryText hover:text-darkHighlight">Home</a
          >
          <a
            href="#experience"
            class="block text-darkPrimaryText hover:text-darkHighlight"
            >Experience</a
          >
          <a
            href="#projects"
            class="block text-darkPrimaryText hover:text-darkHighlight"
            >Projects</a
          >
          <a
            href="#contact"
            class="block text-darkPrimaryText hover:text-darkHighlight"
            >Contact</a
          >
          <a
            href="#cv"
            class="text-darkAccent hover:text-darkHighlight hover:border-darkHighlight border-2 border-solid border-darkAccent px-4 py-1 rounded"
            >CV</a
          >
        </MenuToggle>
      </nav>
    </header>
    <section class="pt-[80px] pl-1 flex-col items-center justify-center">
      <h1 class="text-darkAccent">Hello, my name is</h1>
      <h2 class="text-darkPrimaryText">Bret Gomes</h2>
      <h3 class="text-darkSecondaryText">Junior Full Stack Developer</h3>
      <p class="text-darkSecondaryText">
        I'm a junior full stack developer. My focus is on developing
        user-centric web applications with an emphasis on mobile responsiveness.
        Driven by a passion for solving practical problems through code, I aim
        to create solutions that enhance everyday life. I'm currently seeking a
        collaborative team environment where innovative ideas and a dedication
        to quality are deeply valued.
      </p>
    </section>
    <section class="pt-[4000px] pl-1 flex-col items-center justify-center">
      <h1 class="text-darkAccent">Hello, my name is</h1>
      <h2 class="text-darkPrimaryText">Bret Gomes</h2>
      <h3 class="text-darkSecondaryText">Junior Full Stack Developer</h3>
      <p class="text-darkSecondaryText">
        I'm a junior full stack developer. My focus is on developing
        user-centric web applications with an emphasis on mobile responsiveness.
        Driven by a passion for solving practical problems through code, I aim
        to create solutions that enhance everyday life. I'm currently seeking a
        collaborative team environment where innovative ideas and a dedication
        to quality are deeply valued.
      </p>
    </section>
  </main>
</Layout>
