---
import "../styles/global.css";
import SpeedInsights from '@vercel/speed-insights/astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Discover Bret's portfolio, featuring web development, software engineering, and more about me. Dive into my projects and professional journey."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- Open Graph / Facebook Meta Tags -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://bretgomes.dev/" />
    <meta property="og:title" content="Bret's Portfolio" />
    <meta
      property="og:description"
      content="Discover Bret's portfolio, featuring web development, software engineering, and more about me. Dive into my projects and professional journey."
    />
    <meta
      property="og:image"
      content="https://avatars.githubusercontent.com/u/47285194?v=4"
    />
  </head>
  <body>
    <slot />
  </body>
  <SpeedInsights />
</html>


